.venv
credentials.json
token.json
test.csv
test.r
cleaned-response.csv
cleaned_response.csv
response-diagnostics.csv
response-validated.csv
test-format
test-payload
database.db
configurations.json
.DS_Store
__pycache__
delete.csv
test-payload-enhanced.csv
.gitignore
test-payload.txt
.gitignore
scratch.r
test-payload-enhanced.txt
src/utils/delete.py
